<?xml version="1.0"?>
<!--


  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
   
  </appSettings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />

  </system.webServer>
  <system.web>
 
    <pages>

    </pages>
    <customErrors mode="RemoteOnly" defaultRedirect="~/Default.aspx">
      <error statusCode="404" redirect="~/Default.aspx"/>
    </customErrors>
    <globalization requestEncoding="iso-8859-9" responseEncoding="iso-8859-9" culture="tr-TR" uiCulture="tr-TR" fileEncoding="iso-8859-9"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime/>
    <sessionState cookieless="true" regenerateExpiredSessionId="true"/>
  </system.web>
</configuration>